<div class="container">
  <h1><%= @article.title %></h1>
  <h3><%= @article.content %></h3>
  <%= link_to "Back to list", articles_path, class: "btn btn-danger" %>
  <%= link_to "Edit", edit_article_path %>
</div>
